@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

@import "bootstrap/scss/bootstrap";

body{
    margin-top:20px;
    background: #f8f8f8;
    font-family: 'Poppins';
  }
  
  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
  }

.todo-list {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #F9E795; 
  border-radius: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
}

.crossed-out {
  text-decoration: line-through;
}

.btns {
  display: flex;
  gap: 10px;
  margin-left: 5rem;
}

.btn-danger {
  background-color: #F96167;
  border: none;
  color: #333;
}

.btn-primary, .btn-info {
  background-color:  #CCF381;
  color:#333;
  border: none;
}